<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="PurchasingEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dotnet.reynolds.edu;initial catalog=ITP236-21;persist security info=True;user id=ITP236-21;password=$Happy22;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		
		<add name="PurchasingEntities1" connectionString="metadata=res://*/PurchasingModel.csdl|res://*/PurchasingModel.ssdl|res://*/PurchasingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dotnet.reynolds.edu;initial catalog=ITP236-21;persist security info=True;user id=ITP236-21;password=$Happy22;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>